@tailwind base;
@tailwind components;
@tailwind utilities;

.pac-container {
  z-index: 9999 !important;
}

.gm-style .gm-style-iw-c {
  padding: 0;
}
.gm-style-iw-d {
  overflow: hidden !important;
}
.css-te83mg:hover {
  background: none !important;
}

.css-ixhpbp:hover {
  background: none !important;
}

.my-config {
  --darkmode: 0;
  --h-accent: 181;
  --s-accent: 80%;
  --l-accent: 51%;
}

.hiddenConfig {
  display: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
